* {
    padding: 0;
    margin: 0;
}

body {
    padding: 1rem;
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas: 
        "hd   hd   hd   hd   hd   hd   hd   hd hd hd"
        "main main main main main main main sb sb sb"
        "ft   ft   ft   ft   ft   ft   ft   ft ft ft";
}

header,
main,
aside,
footer {
    color: #fff;
    background: #000;
    border-radius: 0.2em;
    padding: 1.5em;
}

header {
    grid-area: hd;
}

main {
    grid-area: main;
}

aside {
    grid-area: sb;
}

footer {
    grid-area: ft;
}

@media screen and (max-width: 1023px) {
    body {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "hd"
            "main"
            "sb"
            "ft";
    }
}